<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CloudKitService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DesignSystem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FamilyControlsKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RewardCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ScreenTimeRewards-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SharedModels.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SubscriptionService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CloudKitService</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CloudKitServiceTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesignSystem</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesignSystemTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FamilyControlsKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FamilyControlsKitTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RewardCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RewardCoreTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SharedModels</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SharedModelsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
